<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Tratamiento</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Tratamientos</h1>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID Tratamiento</th>
                    <th>Fecha de Inicio</th>
                    <th>Descripción</th>
                    <th>ID Medicamento</th>
                    <th>ID Vacunación</th>
                    <th>ID Eventos</th>
                    <th>Fecha de Finalización</th>
                    <th>Dosis</th>
                    <th>Vía de Administración</th>
                    <th>Observaciones</th>
                    <th>Frecuencia</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for tratamiento in tratamientos %}
                <tr>
                    <td>{{ tratamiento.idTratamiento }}</td>
                    <td>{{ tratamiento.fechaInicioTratamiento }}</td>
                    <td>{{ tratamiento.descripcionTratamiento }}</td>
                    <td>{{ tratamiento.idMedicamento }}</td>
                    <td>{{ tratamiento.idVacuna }}</td>
                    <td>{{ tratamiento.idEvento }}</td>
                    <td>{{ tratamiento.fechaFinTratamiento }}</td>
                    <td>{{ tratamiento.dosis }}</td>
                    <td>{{ tratamiento.viaAdministracion }}</td>
                    <td>{{ tratamiento.observaciones }}</td>
                    <td>{{ tratamiento.frecuencia }}</td>
                    <td>
                        <a href="{{ url_for('tratamiento.edit', id=tratamiento.idTratamiento) }}" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i> Editar</a>
                        <a href="{{ url_for('tratamiento.delete', id=tratamiento.idTratamiento) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i> Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('tratamiento.add') }}" class="btn btn-primary">Ingresar Tratamiento</a>
        <br>
        <a href="{{ url_for('auth.administrador') }}" class="btn btn-outline-dark">
            <i class="fas fa-arrow-left"></i> Regresar a la Página Principal
        </a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
