<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Eventos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    

    
</head>
<h2 class="name">Editar Eventos</h2>
<body>
    <form action="{{ url_for('evento.edit', id=evento.idEvento) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="input-conteiner">
                <div class="mb-3">
                    <label for="idAnimal" class="form-label">ID Animal</label>
                    <select class="form-select" id="idAnimal" name="idAnimal" required>
                        {% for animal in animales %}
                            <option value="{{ animal.especieAnimal }}">{{ animal.especieAnimal }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="idEnfermedad" class="form-label">ID Enfermedad</label>
                    <select class="form-select" id="idEnfermedad" name="idEnfermedad" required>
                        {% for enfermedad in enfermedades %}
                            <option value="{{ enfermedad.nombreEnfermedad }}">{{ enfermedad.nombreEnfermedad }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="idInstructor" class="form-label">ID Instructor</label>
                    <select class="form-select" id="idInstructor" name="idInstructor" required>
                        {% for instructor in instructores %}
                            <option value="{{ instructor.nombreInstructor }}">{{ instructor.nombreInstructor }}</option>
                        {% endfor %}
                    </select>
                </div>

            <div class="button">
                <button  type="submit">Editar Datos</button>
                <a href="{{url_for('evento.index')}}">Volver a la vista Principal</a>
            </div>
        </div>
    </form>

</body>
</html>