<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        
    </style>
</head>

<body>
    <header>
        <div class="logo">
            <img src="{{ url_for("static", filename="img/logo_sena.webp") }}" alt="imagen sena" class="img-fluid mt-3">
            <h1 class="nombre">Finca Villa Luz</h1>
        </div>
        <nav>
            <a href="{{url_for('auth.registro')}}">Registrarse</a>
            <a href="{{url_for('auth.principal')}}">Volver</a>
        </nav>
    </header>

        <!-- Flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Login Form -->
        <form class="formulario" method="post" action="{{ url_for('auth.login') }}">
            <h2 class="name"> Login</h2>
            <div class="input-group">
                <div class="input-container">
                    <label for="correo">Email</label></br>
                    <input type="email" name="correo" id="correo" class="form-control" required>
                </div>
                <div class="input-container">
                    <label for="password">Password</label></br>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
            <div class="button">
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
            </div>
        </div>
            <!-- Links below the form -->
        <div class="links-container">
            <a href="{{url_for('auth.restablecer_contraseña')}}">¿Olvidaste tu contraseña?</a></br>
            
        
        </div>
        </form>
    

</body>

</html>
