<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Relación Pradera-Animal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Editar Relación Pradera-Animal</h2>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label for="idAnimal">Animal:</label>
                <select class="form-control" id="idAnimal" name="idAnimal" required>
                    {% for animal in animales %}
                        <option value="{{ animal.especieAnimal }}">{{ animal. especieAnimal }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="idPradera">Pradera:</label>
                <select class="form-control" id="idPradera" name="idPradera" required>
                    {% for pradera in praderas %}
                        <option value="{{ pradera.NombrePradera }}">{{ pradera.nombrePradera }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group">
                <label for="cantidad">Cantidad:</label>
                <input type="number" class="form-control" id="cantidad" name="cantidad" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>

            <a href="{{ url_for('praderaAnimal.index') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


