<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praderas y Animales</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Lista de Praderas y Animales</h2>    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Animal</th>
                    <th>Pradera</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in dataPraderaAnimal %}
                <tr>
                    <td>{{ item.idPraderaAnimal }}</td>
                    <td>{{ item.idAnimal }}</td>
                    <td>{{ item.idPradera }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>
                        <a href="{{ url_for('praderaAnimal.edit', idPraderaAnimal=item.idPraderaAnimal) }}" class="btn btn-sm btn-warning">Editar</a>
                        <a href="{{ url_for('praderaAnimal.delete', idPraderaAnimal=item.idPraderaAnimal) }}" class="btn btn-sm btn-warning">eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('praderaAnimal.add') }}" class="btn btn-primary mb-3">Agregar Nueva Relación Pradera-Animal</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

