<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Enfermedad</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    

    
</head>
<body>
    <form action= "{{ url_for('enfermedad.edit', id=enfermedad.idEnfermedad) }}" method ="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h2 class="name">Editar enfermedad</h2>
        <div class="input-group">
            <div class="input-conteiner">
                <label for="nombreEnfermedad">Nombre enfemerdad</label><br>
                <input type="text" id="nombreEnfermedad" name="nombreEnfermedad" placeholder="nombreEnfermedad"
                value="{{enfermedad.nombreEnfermedad}}" required>
            </div>

            <div class="input-conteiner">
                <label for="sintomasEnfermedad">Sintomas</label><br>
                <input type="text" id="sintomasEnfermedad" name="sintomasEnfermedad" placeholder="sintomasEnfermedad"
                value="{{enfermedad.sintomasEnfermedad}}" required>
            </div>

            <div class="input-conteiner">
                <label for="detallesAdicionalesEnfermedad ">Detalles adicionales</label><br>
                <input type="text" id="detallesAdicionalesEnfermedad " name="detallesAdicionalesEnfermedad " placeholder="detallesAdicionalesEnfermedad"
                value="{{enfermedad.detallesAdicionalesEnfermedad }}" required>
            </div>

            <div class="button">
                <button  type="submit"> <a href=""></a>Editar Datos</button>
                <a href="{{url_for('enfermedad.index')}}">Volver a la vista Principal</a>

            </div>

        </div>
    </form>

</body>
</html>

