<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BOVINOS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
            
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{{ url_for("static", filename="img/logo_sena.webp") }}" alt="imagen sena" class="img-fluid mt-3">
                <h1 class="nombre">Finca Villa Luz</h1>
            </div>
            <nav>
                <a href="{{url_for('auth.registro')}}">Registrarse</a>
                <a href="{{url_for('auth.principal')}}">Volver</a>
            </nav>
        </header>
            
            <h1>Bienvenidos a Bovinos</h1>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a href="{{ url_for('animal.index') }}" class="btn btn-outline-primary">Animales</a>
                </div>
                <div class="container-fluid">
                    <a href="{{ url_for('animalMejorado.index') }}" class="btn btn-outline-primary">Animal Mejorado</a>
                </div>
            </nav>
        
            <div class="custom-btn">
                <button type="button"><a class="nav-link" href="principal"> Regresar Pagina principal</a></button>
                
            </div>
            


    </body>
</html>