<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BOVINOS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> bienvenidos a bovinos <h1>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a href="{{ url_for('animal.index') }}">Ir a la página de animales</a>

                  <a href="">Dos</a>
                </div>
            </nav>
            
            <h1>Bienvenidos a Bovinos</h1>
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid">
                    <a href="" class="btn btn-outline-success">Ver Bovinos</a>
                    <a href="{{ url_for('animal.index') }}" class="btn btn-outline-primary">Ver Animales</a>
                </div>
            </nav>
        

            <a href="">Ir a bovinos</a>


    </body>
</html>