<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Animal Mejorado</title>
</head>
<body>
    <div class="overlay">
        <h1>Editar Animal Mejorado</h1>
        <form action="{{ url_for('animalmejorado.edit', idAnimalMejorado=animalMejorado.idAnimalMejorado) }}" method="post">
            <div class="form-group">
                <label for="idPadreAportante">ID Padre Aportante</label>
                <input type="int" id="idPadreAportante" name="idPadreAportante" value="{{ animalMejorado.idPadreAportante }}" required>
            </div>

            <div class="form-group">
                <label for="nombrePadreAportante">Nombre del Padre</label>
                <input type="text" id="nombrePadreAportante" name="nombrePadreAportante" value="{{ animalMejorado.nombrePadreAportante }}" required>
            </div>

            <div class="form-group">
                <label for="razaPadreAportante">Raza del Padre</label>
                <input type="text" id="razaPadreAportante" name="razaPadreAportante" value="{{ animalMejorado.razaPadreAportante }}" required>
            </div>

            <div class="form-group">
                <label for="idMadreAportante">ID de la Madre Aportante</label>
                <input type="int" id="idMadreAportante" name="idMadreAportante" value="{{ animalMejorado.idMadreAportante }}" required>
            </div>
            
            <div class="form-group">
                <label for="nombreMadreAportante">Nombre de la Madre</label>
                <input type="text" id="nombreMadreAportante" name="nombreMadreAportante" value="{{ animalMejorado.nombreMadreAportante }}" required>
            </div>

            <div class="form-group">
                <label for="razaMadreAportante">Raza de la Madre</label>
                <input type="text" id="razaMadreAportante" name="razaMadreAportante" value="{{ animalMejorado.razaMadreAportante }}" required>
            </div>

            <div class="form-group">
                <label for="idAnimal">ID Animal</label>
                <input type="int" id="idAnimal" name="idAnimal" value="{{ animalMejorado.idAnimal }}" required>
            </div>

            <button type="submit">Actualizar Animal Mejorado</button>
        </form>
    </div>
</body>

</html>