<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Animal Mejorado</title>
</head>
<body>
    <div class="overlay">
        <h1>Editar Animal Mejorado</h1>
        <form action="{{ url_for('animalmejorado.edit', idAnimalMejorado=animalMejorado.idAnimalMejorado) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <div class="form-group">
                    <label for="idPadreAportante">id Padre Aportante</label>
                    <select id="idPadreAportante" name="idPadreAportante" value="{{ animalMejorado.idPadreAportante }}" required>
                        {% for animal in animales %}
                            <option value="{{ animal.idAnimal }}">
                                {{ animal.idAnimal }} - {{ animal.especieAnimal }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label for="nombrePadreAportante">nombre macho aportante</label>
                    <select id="nombrePadreAportante" name="nombrePadreAportante"  value="{{ animalMejorado.nombrePadreAportante }}" required>
                        {% for animal in animales %}
                            <option value="{{ animal.especieAnimal }}">
                                {{ animal.idAnimal }} - {{ animal.especieAnimal }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

            

            <div class="form-group">
                <label for="razaPadreAportante">Raza del macho</label>
                <select id="razaPadreAportante" name="razaPadreAportante"  value="{{ animalMejorado.razaPadreAportante }}" required>
                    {% for animal in animales %}
                        <option value="{{ animal.razaAnimal }}">
                            {{ animal.idAnimal }} - {{ animal.razaAnimal }}
                        </option>
                    {% endfor %}
                </select>
  
            </div>

            <div class="form-group">
                <div class="form-group">
                    <label for="idMadreAportante">id Madre Aportante</label>
                    <select id="idMadreAportante" name="idMadreAportante"value="{{ animalMejorado.idMadreAportante }}" required>
                        {% for animal in animales %}
                            <option value="{{ animal.idAnimal }}">
                                {{ animal.idAnimal }} - {{ animal.especieAnimal }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

            </div>
            
            <div class="form-group">
                <label for="nombreMadreAportante">nombre de la hembra aportante</label>
                <select id="nombreMadreAportante" name="nombreMadreAportante" value="{{animalMejorado.nombreMadreAportante}}" required>
                    {% for animal in animales %}
                        <option value="{{ animal.especieAnimal }}">
                            {{ animal.idAnimal }} - {{ animal.especieAnimal }}
                        </option>
                    {% endfor %}
                </select>
                
            </div>

            <div class="form-group">
                <label for="razaMadreAportante">Raza de la hembra</label>
                <select id="razaMadreAportante" name="razaMadreAportante"                  value="{{ animalMejorado.razaMadreAportante}}" required>
                    {% for animal in animales %}
                        <option value="{{ animal.razaAnimal }}">
                            {{ animal.idAnimal }} - {{ animal.razaAnimal }}
                        </option>
                    {% endfor %}
                </select>

            </div>

            <div class="form-group">
                <label for="idAnimal">Animales Registrados</label>
                <select name="idAnimal" id="idAnimal" value="{{animalMejorado.idAnimal}}" required>
                    {% for animal in animales %}
                        <option value="{{ animal.idAnimal }}">
                            {{ animal.idAnimal }} - {{ animal.especieAnimal }}
                        </option>
                    {% endfor %}
                </select>

            </div>

            <button type="submit">Actualizar Animal Mejorado</button>
            <a href="{{url_for('animalmejorado.index')}}">Volver a la vista Principal</a>
        </form>
    </div>
</body>

</html>