<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Forraje</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="csrf-token" content="{{ csrf_token() }}">

    
</head>
<body>

    <form action= "{{url_for('forraje.edit', id=forraje.idForraje)}}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h2 class="name">Editar Forraje</h2>
        <div class="input-group">
            <div class="input-conteiner">
                <label for="especieForraje">Especie</label><br>
                <input type="text" id="especieForraje" name="especieForraje" placeholder="especieForraje"
                value="{{forraje.especieForraje}}" required>
            </div>

            <div class="input-conteiner">
                <label for="fechaDeSiembraForraje">Fecha de siembra</label><br>
                <input type="date" id="fechaDeSiembraForraje" name="fechaDeSiembraForraje" placeholder="fechaDeSiembraForraje"
                value="{{forraje.fechaDeSiembraForraje}}" required>
            </div>

            <div class="input-conteiner">
                <label for="fechaDeCosechaForraje">Fecha de cosecha</label><br>
                <input type="date" id="fechaDeCosechaForraje" name="fechaDeCosechaForraje" placeholder="fechaDeCosechaForraje"
                value="{{forraje.fechaDeCosechaForraje}}" required>
            </div>

            <div class="input-conteiner">
                <label for="areaForraje">Area</label><br>
                <input type="text" id="areaForraje" name="areaForraje" placeholder="areaForraje"
                value="{{forraje.areaForraje}}" required>
            </div>

            <div class="input-conteiner">
                <label for="manejosForraje">Manejos</label><br>
                <input type="text" id="manejosForraje" name="manejosForraje"  placeholder="manejosForraje"
                value="{{forraje.manejosForraje}}" required>
            </div>

            <div class="input-conteiner">
                <label for="aforoForraje">Aforos</label><br>
                <input type="text" id="aforoForraje" name="aforoForraje" placeholder="aforoForraje"
                value="{{forraje.aforosForraje}}" required>
                
            </div>
            <div class="button">
                <button  type="submit"></a>Editar Datos</button>
                <a href="{{url_for('forraje.index')}}">Volver a la vista Principal</a>
            </div>
        </div>
    </form>

</body>
</html>