<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forraje</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style.css">

    
</head>
<body>
    
        <header>
            <div class="logo">
                <img src="/img/logo-sena-verde-png-sin-fondo.webp" alt="logo">
                <h1 class="nombre">Finca Villa Luz</h1>
            </div>
            <nav>
                <a href="">Volver</a>
                <a href="/inicio/loginforraje.html">Salir</a>
            </nav>
        </header>
    <form class="formulario">
        <h2 class="name">Editar Forraje</h2>
        <div class="input-group">
            <div class="input-conteiner">
                <label for="idforraje">ID forraje</label><br>
                <input type="text" id="idforraje" name="idforraje" placeholder="ID forraje"
                value="{{forraje.idforraje}}" required>
            </div>
            <div class="input-conteiner">
                <label for="especie">Especie</label><br>
                <input type="text" id="especie" name="especie" placeholder="Especie"
                value="{{forraje.especie}}" required>
            </div>

            <div class="input-conteiner">
                <label for="fehcadesiembra">Fecha de siembra</label><br>
                <input type="text" id="fehcadesiembre" name="fechadesiembre" placeholder="Fehca de siembre"
                value="{{forraje.fechadesiembre}}" required>
            </div>

            <div class="input-conteiner">
                <label for="fechadecosecha">Fecha de cosecha</label><br>
                <input type="text" id="fechadecosecha name=" name="fechadecosecha" placeholder="Fecha de cosecha"
                value="{{forraje.fechadecosecha}}" required>
            </div>

            <div class="input-conteiner">
                <label for="area">Area</label><br>
                <input type="text" id="area" name="area" placeholder="Area"
                value="{{forraje.area}}" required>
            </div>

            <div class="input-conteiner">
                <label for="manejos">Manejos</label><br>
                <input type="text" id="manejos" name="manejos"  placeholder="Manejos"
                value="{{forraje.manejos}}" required>
            </div>

            <div class="input-conteiner">
                <label for="aforos">Aforos</label><br>
                <input type="text" id="aforos" name="aforos" placeholder="Aforos"
                value="{{forraje.aforos}}" required>
                
            </div>
            <div class="button">
                <button  type="submit"> <a href=""></a>Editar Datos</button>

            </div>
            

        </div>
    </form>

</body>
</html>