<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Forraje</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
   

    
</head>
<body>
    
    <header>
        <div class="logo">
            <img src="/img/logo-sena-verde-png-sin-fondo.webp" alt="logo">
            <h1 class="nombre">Finca Villa Luz</h1>
        </div>
        <nav>
            <a href="">Volver</a>
            <a href="/inicio/loginforraje.html">Salir</a>
        </nav>
    </header>

    <div>
        <h1>Forraje</h1>
    </div>
    
    <table>
        <div class="table">
            <tr>
                <th>ID forraje</th>
                <th>Especie</th>
                <th>Fecha de sembra</th>
                <th>Fecha de cosecha</th>
                <th>Area</th>
                <th>Manejos</th>
                <th>Aforo</th>
            </tr>
        </div>
        {%for forraje in data%}

    <div class="contenido">
        <tr>
            <td>{{forraje.idForraje}}</td>
            <td>{{forraje.especieForraje}}</td>
            <td>{{forraje.fechaDeSiembraForraje}}</td>
            <td>{{forraje.fechaDeCosechaForraje}}</td>
            <td>{{forraje.areaForraje}}</td>
            <td>{{forraje.manejosForraje}}</td>
            <td>{{forraje.aforoForraje}}</td>

            <a href="{{ url_for('forraje.edit', id=forraje.idForraje) }}"><i class="bi bi-pencil-square"></i></a>
            <a href="{{ url_for('forraje.delete', id=forraje.idForraje) }}"><i class="bi bi-archive"></i></a>
            <!-- Agrega aquí el enlace para eliminar -->
        </td>
    </tr>
{% endfor %}

        </tr>
    </div>   
    </table>

    <a href="{{ url_for('forraje.add')}}">Ingresar Forraje</a>
    <br>
   <!-- <a href="{{ url_for('forraje.inicio')}}">Inicio</a>-->

</body>
</html>