<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Instructor</title>
</head>
<body>
    <!-- Header -->
    <header class="bg-light p-3 mb-4">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="{{ url_for('static', filename='img/logo_sena.webp') }}" alt="imagen sena" class="img-fluid me-3" style="max-height: 50px;">
                <h1 class="fs-3 mb-0">Finca Villa Luz</h1>
            </div>
            <nav>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-danger">Cerrar sesión</a>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container text-center">
        <h2 class="fs-3 mb-0">CENTRO AGROEMPRESARIAL DEL ORIENTE</h2>
        <h1 class="mb-4">Bienvenido Operario</h1>
        
        <!-- links de la pagina -->
        

            
        </div>
        
        <!-- Imagen centrada en la página -->
        <div class="mb-5">
            <img src="{{ url_for('static', filename='img/logo_sena.webp') }}" alt="Imagen Centrada" class="img-fluid" style="max-width: 70%; height: auto;">
        </div>

       
       
    </div>

    <!-- Bootstrap 5 JS (opcional si necesitas componentes interactivos) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
