<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar Mejoramiento Genetico</title>
</head>
<body>
    <div class="overlay">
        <h1>Agregar Mejoramiento Genetico</h1>

        <form action="{{ url_for('mejoramientoGenetico.add') }}" method="post">

            <div class="form-group">
                <label for="tecnicaEventoGenetico">Técnica usada</label>
                <input type="text" id="tecnicaEventoGenetico" name="tecnicaEventoGenetico" required>
            </div>

            <div class="form-group">
                <label for="fechaEvento">Fecha del evento </label>
                <input type="text" id="fechaEvento" name="fechaEvento"  required>
            </div>  
    
            <div class="form-group">
                <label for="resultados">Resultados</label>
                <input type="text" id="resultados" name="resultados" required>
            </div>

            <div class="form-group">
                <label for="detalles">Detalles</label>
                <input type="text" id="detalles" name="detalles" required>
            </div>  

            <div class="form-group">
                <label for="animalMejorado">N° Animal mejorado</label>
                <input type="text" id="animalMejorado" name="animalMejorado"required>
            </div>  
            
            <button type="submit">Actualizar Animal</button>
        </form>
    </div>
    </body>
    