<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Administrador</title>
    
</head>
<body>
    <div class="overlay">
    <h1>Editar Animal</h1>
    <form action="{{ url_for('animal.edit', id=animal.idAnimal) }}" method="post">
        <div class="form-group">
            <label for="tecnicaEventoGenetico">tecnica usada</label>
            <input type="text" id="tecnicaEventoGenetico" name="tecnicaEventoGenetico"
                value="{{ animal.tecnicaEventoGenetico}}" required>
        </div>
        <div class="form-group">
            <label for="fechaEvento">fecha del evento </label>
            <input type="text" id="fechaEvento" name="fechaEvento" value="{{animal .fechaEvento}}" required>
            </div>  
    
            <div class="form-group"></div>
            <label for="resultado">resultados</label>
            <input type="text" id="resultado" name="resultado"
             value="{{ animal.resultado}}" required>

            <div class="form-group">
                <label for="detalles">detalles</label>
                <input type="text" id="detalles" name="detalles"
                 value="{{ animal.detalles}}" required>
            </div>  
            <div class="form-group">
                <label for="idAnimalMejorado">N° animal mejorado</label>
                <input type="text" id="idAnimalMejorado" name="idAnimalMejorado" 
                value="{{animal.idAnimalMejorado}}" required>
            </div>  
            
            <button type="submit">Actualizar Animal</button>
        </form>
    </div>
    </body>
    
    </hnimal