<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Mejoramiento Genetico</title>
</head>
<body>
    <div class="overlay">
        <h1>Editar Mejoramiento Genetico</h1>

        <form action="{{ url_for('mejoramientogenetico.edit', idMejoramientoGenetico=mejoramientoGenetico.idMejoramientoGenetico) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="form-group">
                <label for="tecnicaEventoGenetico">Técnica usada</label>
                <input type="text" id="tecnicaEventoGenetico" name="tecnicaEventoGenetico"value="{{ mejoramientoGenetico.tecnicaEventoGenetico}}" required>
            </div>
        
            <div class="form-group">
                <label for="fechaEvento">Fecha del evento </label>
                <input type="text" id="fechaEvento" name="fechaEvento" value="{{ mejoramientoGenetico.fechaEvento }}" required>
            </div>  
    
            <div class="form-group">
                <label for="resultados">Resultados</label>
                <input type="text" id="resultados" name="resultados"value="{{ mejoramientoGenetico.resultados}}" required>
            </div>

            <div class="form-group">
                <label for="detalles">Detalles</label>
                <input type="text" id="detalles" name="detalles"value="{{ mejoramientoGenetico.detalles}}" required>
            </div>

            <div class="form-group">
                <label for="animalMejorado">N° Animal mejorado</label>
                <input type="text" id="animalMejorado" name="animalMejorado" value="{{ mejoramientoGenetico.animalMejorado }}" required>
            </div>  
            
            <button type="submit">Actualizar Mejoramiento Genetico</button>
            <a href="{{url_for('mejoramientogenetico.index')}}">Volver a la vista Principal</a>
        </form>
    </div>
    </body>
    
    