<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar Animal</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1 class="nombre">Finca Villa Luz</h1>
        </div>
        <nav>
            <a href="">Volver</a>
            <a href="">Salir</a>
        </nav>
    </header>


    <div class="overlay">
        <h2>Agregar Animal</h1>

        <form action="{{ url_for('animal.add') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label for="especieAnimal">Especie Animal</label>
                <input type="text" id="especieAnimal" name="especieAnimal" required>
            </div>
            
            <div class="form-group">
                <label for="razaAnimal">Raza Animal</label>
                <input type="text" id="razaAnimal" name="razaAnimal" required>
            </div>

            <div class="form-group">
                <label for="sexoAnimal">Sexo Animal</label>
                <input type="text" id="sexoAnimal" name="sexoAnimal" required>
            </div>

            <div class="form-group">
                <label for="fechaNacimiento">FechaNacimiento </label>

                <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
            </div>

            <div class="form-group">
                <label for="pesoAnimal">Peso </label>
                <input type="text" id="pesoAnimal" name="pesoAnimal" required>
            </div>

            <div class="form-group">
                <label for="padres">Padres </label>
                <input type="text" id="padres" name="padres" required>
            </div>

            <div class="form-group">
                <label for="idAnimalPadre">Padre</label>
                <input type="text" id="idAnimalPadre" name="idAnimalPadre" required>
            </div>

            <div class="form-group">
                <label for="idAnimalMadre">Madre</label>
                <input type="text" id="idAnimalMadre" name="idAnimalMadre" required>
            </div>
            
            <button type="submit">Agregar  Animal</button>
            
        </form>
    </div>
</body>
</html>

