<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Animal</title>
</head>
<body>
    <div class="overlay">
        <h1>Editar Animal</h1>
        <form action="{{ url_for('animal.edit', idAnimal=animal.idAnimal) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-group">
                <label for="idAnimal">ID Animal</label>
                <input type="text" id="idAnimal" name="idAnimal" value="{{ animal.id }}" readonly required>
            </div>

            <div class="form-group">
                <label for="especieAnimal">Especie Animal</label>
                <input type="text" id="especieAnimal" name="especieAnimal" value="{{ animal.especieAnimal }}" required>
            </div>

            <div class="form-group">
                <label for="razaAnimal">Raza Animal</label>
                <input type="text" id="razaAnimal" name="razaAnimal" value="{{ animal.razaAnimal }}" required>
            </div>

            <div class="form-group">
                <label for="sexoAnimal">Sexo Animal</label>
                <input type="text" id="sexoAnimal" name="sexoAnimal" value="{{ animal.sexoAnimal }}" required>
            </div>

            <div class="form-group">
                <label for="fechaNacimiento">Fecha de Nacimiento</label>
                <input type="date" id="fechaNacimiento" name="fechaNacimiento" value="{{ animal.fechaNacimiento }}" required>
            </div>

            <div class="form-group">
                <label for="pesoAnimal">Peso</label>
                <input type="number" id="pesoAnimal" name="pesoAnimal" value="{{ animal.pesoAnimal }}" required step="0.01">
            </div>

            <div class="form-group">
                <label for="padres">Padres</label>
                <input type="text" id="padres" name="padres" value="{{ animal.padres }}" required>
            </div>

            <div class="form-group">
                <label for="idAnimalPadre">ID Animal Padre</label>
                <input type="text" id="idAnimalPadre" name="idAnimalPadre" value="{{ animal.idAnimalPadre }}" required>
            </div>

            <div class="form-group">
                <label for="idAnimalMadre">ID Animal Madre</label>
                <input type="text" id="idAnimalMadre" name="idAnimalMadre" value="{{ animal.idAnimalMadre }}" required>
            </div>

            <button type="submit">Actualizar Animal</button>
        </form>
    </div>
</body>
</html>
