<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/boot/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='/boot/js/bootstrap.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleCliente.css') }}">
    <title>Animales</title>
</head>
<body>
    <div class="overlay">
        <h1>Lista de los Animales</h1>
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Especie del Animal</th>
                    <th>Raza del Animal</th>
                    <th>Sexo del Animal</th>
                    <th>Fecha del Animal</th>
                    <th>Peso del Animal</th>
                    <th>Padres del Animal</th>
                    <th>Acciones</th>
                </tr>

                {% for animal in dataAnimales %}
                    <tr>
                        <td>{{ animal.idAnimal}}</td>
                        <td>{{ animal.especieAnimal}}</td>
                        <td>{{ animal.razaAnimal}}</td>
                        <td>{{ animal.sexoAnimal}}</td>
                        <td>{{ animal.fechaAnimal}}</td>
                        <td>{{ animal.peso}}</td>
                        <td>{{ animal.padres}}</td>
                        <td>{{ animal.idAnimalPadre}}</td>
                        <td>{{ animal.idAnimal}}</td>
                        <td>
                            <a href="{{ url_for('animal.edit', idAnimal=animal.idAnimal) }}"><i class="bi bi-pencil-square"></i>Ediatar</a>
                            <a href="{{ url_for('animal.delete', idAnimal=animal.idAnimal) }}"><i class="bi bi-archive"></i>Eliminar</a>
                            <!-- Agrega aquí el enlace para eliminar -->
                        </td>
                    </tr>
                {% endfor %}
 
            </table>
        </div>
        <a href="{{ url_for('animal.add')}}">Agregar Animal</a>
        <br>
    
    </div>
</body>
</html>
