<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Mejoramiento Animal</title>
</head>

<body>
    <header>
    <div class="logo">
        <img src="img/logo-sena-verde-png-sin-fondo.webp" alt="logo">
        <h1 class="nombre">MejoramientoGenetico</h1>
       
            
    
    </div>
    <nav>

        <a href="">funcion 1</a>
        <a href=""> fincion 2</a>

        </a>
    
    </nav>
    </header>


    <form class="formulario">
        <h3 class="name">Acciones <br>Principales</h3>
        <div class="input-group">
            <div class="input-container">
                <label for="">tecnica usada</label><br>
                <input type="text" placeholder="Tecnica usada">
            </div>

            <div class="input-container">
                <label for="">fecha de inseminacion</label><br>
                <input type="text" placeholder="Fecha de inseminación">
                
            </div>
            <div class="input-conteiner">
                <label for="Direcciòn">estado</label><br>
                <input type="text"  placeholder="estado">
            </div>
           
            <div>
                <input type="submit" value="Insertar">
            </div>

        </div>


    </form>

</body>

</html>

