<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Vacunaciòn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="csrf-token" content="{{ csrf_token() }}">

    
</head>
<body>  
    <form action="{{ url_for('pradera.edit', id=pradera.idPradera) }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h2 class="name">Pradera</h2>
        <div class="input-group">
            <div class="input-conteiner">
                <label for="nombrePradera">Nombre Pradera</label><br>
                <input type="text" id="nombrePredera" name="nombrePradera" placeholder="nombrePradera"
                value="{{pradera.nombrePradera}}" required>
            </div>
            <div class="input-conteiner">
                <label for="ubicacion">Ubicaciòn</label><br>
                <input type="text" id="ubicacion" name="ubicacion" placeholder="ubicacion"
                value="{{pradera.ubicacion}}" required>
            </div>

            <div class="input-conteiner">
                <label for="capacidadCarga">Capacidad de carga</label><br>
                <input type="text" id="capacidadCarga" name="capacidadCarga" placeholder="capacidadCarga"
                value="{{pradera.capacidadCarga}}" required>
            </div>

            <div class="input-conteiner">
                <label for="estadoDePastoreo">Estado de Pastoreo</label><br>
                <input type="text" id="estadoDePastoreo" name="estadoDePastoreo" placeholder="estadoDePastoreo"
                value="{{pradera.estadoDePastoreo}}" required>
            </div>

            <div class="input-conteiner">
                <label for="manejos">Manejo</label><br>
                <input type="text" id="manejos" name="manejos" placeholder="manejos"
                value="{{pradera.manejos}}" required>
            </div>

            <div class="input-conteiner">
                <label for="aforos">Aforo</label><br>
                <input type="aforosPradera" id="aforo" name="aforos"  placeholder="aforos"
                value="{{pradera.aforos}}" required>
            </div>

            <div class="input-conteiner">
                <label for="area">Area</label><br>
                <input type="text" id="area" name="area" placeholder="area"
                value="{{pradera.area}}" required>
                
            </div>

            <div class="input-conteiner">
                <label for="idForraje">Id Forrajes</label><br>
                <input type="text" id="idForraje" name="idForraje" placeholder="Id Forraje"
                value="{{pradera.forrajes}}" required>
                
            </div>

            <div class="button">
                <button  type="submit"> <a href=""></a>Editar Datos</button>

            </div>

        </div>
    </form>

</body>
</html>