<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Praderas</title>
</head>
<body>
    <header class="bg-light p-3 mb-4">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="logo d-flex align-items-center">
                <img src="{{ url_for('static', filename='img/logo_sena.webp') }}" alt="imagen sena" class="img-fluid me-3" style="max-height: 50px;">
                <h1 class="fs-3 mb-0">Finca Villa Luz</h1>
            </div>
               
            </nav>
        </div>
    </header>

    <div class="container mt-5">
        
        <h1 class="text-center mb-4">Lista de Praderas</h1>

        <div class="card shadow">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Nombre de Pradera</th>
                                <th>Ubicación</th>
                                <th>Capacidad de Carga</th>
                                <th>Estado de Pastoreo</th>
                                <th>Manejos</th>
                                <th>Aforos</th>
                                <th>Área</th>
                                <th>ID de Forrajes</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pradera in  dataPraderas %}
                            <tr>
                                <td>{{ pradera.idPradera }}</td>
                                <td>{{ pradera.nombrePradera }}</td>
                                <td>{{ pradera.ubicacion}}</td>
                                <td>{{ pradera.capacidadCarga}}</td>
                                <td>{{ pradera.estadoDePastoreo}}</td>
                                <td>{{ pradera.manejos}}</td>
                                <td>{{ pradera.aforos}}</td>
                                <td>{{ pradera.area}}</td>
                                <td>{{ pradera.idForrajes }}</td>
                                <td>
                                    
                                    <a href="{{ url_for('pradera.edit', id=pradera.idPradera) }}" class="btn btn-warning btn-sm">
                                        <i class="bi bi-pencil-square"></i> Editar
                                    </a>
                                    <a href="{{ url_for('pradera.delete', id=pradera.idPradera) }}" class="btn btn-danger btn-sm">
                                        <i class="bi bi-archive"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ url_for('pradera.add') }}" class="btn btn-success">
                <i class="bi bi-plus-circle"></i> Agregar Pradera
            </a>
            <a href="{{ url_for('auth.administrador') }}" class="btn btn-outline-dark">
                <i class="bi bi-arrow-left"></i> Regresar a la Página Principal
            </a>
        </div>
    </div>

    <!-- Bootstrap JS, Popper.js y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
