<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Praderas</title>
</head>
<body>
    <div>
        <h1>Praderas</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de Pradera</th>
                <th>Ubicación</th>
                <th>Capacidad de Carga</th>
                <th>Estado de Pastoreo</th>
                <th>Manejos</th>
                <th>Aforos</th>
                <th>Área</th>
                <th>ID de Forrajes</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pradera in data %}
            <tr>
                <td>{{ pradera.idPradera }}</td>
                <td>{{ pradera.nombrePradera }}</td>
                <td>{{ pradera.ubicacion }}</td>
                <td>{{ pradera.capacidadCarga }}</td>
                <td>{{ pradera.estadoDePastoreo }}</td>
                <td>{{ pradera.manejos }}</td>
                <td>{{ pradera.aforos }}</td>
                <td>{{ pradera.area }}</td>
                <td>{{ pradera.idForrajes }}</td>
                <td>
                    <a href="{{ url_for('praderas.edit', id=pradera.idPradera) }}" class="btn btn-warning">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    <a href="{{ url_for('praderas.delete', id=pradera.idPradera) }}" class="btn btn-danger">
                        <i class="bi bi-archive"></i> Eliminar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('Praderas.add') }}" class="btn btn-primary">Agregar Pradera</a>


    <br>
</body>
</html>
