<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Restablecer Contraseña</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css"> <!-- Enlace a tu CSS -->
</head>
<body>
    <div class="container">
        <h1>Restablecer Contraseña</h1>
        
        <form method="POST" action="{{ url_for('auth.solicitar_restablecimiento') }}">
            <label for="email">Correo Electrónico:</label>
            <input type="email" name="email" id="email" required>
            <br>
            <button type="submit">Solicitar Restablecimiento</button>
        </form>
        <a href="{{url_for('auth.login')}}">volver al login</a>
    </div>
</body>
</html>
