<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Editar Control</title>
    
</head>
<body>
    <div class="overlay">
    <h1>Editar Control</h1>
    <form action="{{ url_for('control.edit', idControl=control.idControl) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="form-group">
                <label for="descripcion">descripcion</label>
                <input type="text" id="descripcion" name="descripcion"  value="{{control.descripcion}}" required> 
            </div>
            <div class="form-group">
                <label for="fecha">fecha</label>
                <input type="date" id="fecha" name="fecha"  value="{{control.fecha}}" required>
            </div>
            <div class="form-group">
                <label for="estado">estado</label>
                <input type="text" id="estado " name="estado" value="{{control.estado}}" required> 
            </div>
            <div class="form-group">
                <label for="idAnimalMejorado">idAnimalMejorado</label>
                <input type="text" id="idAnimalMejorado" name="idAnimalMejorado"  value="{{control.idAnimalMejorado}}" required>
            </div>
            <button type="submit">Actualizar Control</button>
        </form>
    </div>
    </body>
    
    </html>
        


