<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/boot/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='/boot/js/bootstrap.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleCliente.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Control</title>
    
</head>
<body>
    <div class="overlay">
        <h1>Lista de Control</h1>
        <div style="overflow-x:auto;">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
                {% for control in dataControles %}
                    <tr>
                        <td>{{ Control.idControl}}</td>
                        <td>{{ Control.descripcion}}</td>
                        <td>{{ Control.fecha}}</td>
                        <td>{{ Control.estado}}</td>
                        <td>
                            <a href="{{ url_for('control.edit', id=control.idControl) }}"><i class="bi bi-pencil-square"></i>Edital</a>
                            <a href="{{ url_for('control.delete', id=animal.idControl) }}"><i class="bi bi-archive"></i>Eliminar</a>
                            
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
            <a href="{{ url_for('control.add')}}">Agregar Control</a>
            <br>
       
    
</body>
</html>


